/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

/* General */

[class*=grid]{
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}
 grid img {
  max-height: 50vh 12vw;

 }

div .grid .nav {
  padding-top: 5em;
}
/* Navigation*/

nav a {
  text-decoration: none;
  padding: 30px 10px;
  font-size: 1.2rem;
  color: #aa0c0c;
  display: inline-block;
}

nav a:hover {
  background-color: #ececec;
}

header .icon img {
  height: 70px;
  margin: 5px;
}

header .name {
  text-align: left;
  font-size: 1.8rem;
  font-family: 'Comfortaa', cursive;
  margin: 10px 0;
  color: #aa0c0c;
}

/* Header */

p {
  font-size: 1.25rem;
  line-height: 1.7;
  color: #4d4d4d;
}

.benefit-icon {
  font-size: 4rem;
  color: #aa0c0c;
  margin: 0.5rem 0;
}


.col, [class*=col-] {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family:'Montserrat', sans-serif;
  color: #aa0c0c;
}

h2, h3, h4 {
  margin: 0.5rem 0 0.3rem 0;
}

li {
  padding: 3px;
}


.right {
  text-align: right;
}

.padded-section {
  padding: 5vw;
}

/* Banner */

.homepage-banner-section {
  background-image: url('images/whole.jpg');
  background-position: center;
  background-size: cover;
  min-height: 70vh;
  padding-top: 30vh;
}

.homepage-banner-section h1, .homepage-banner-section .subtitle {
  color: white;
  text-align: center;
}

/* Benefits */
.benefit-box {
  text-align: center;
  padding: 0 1rem;
}

/*  About us */

.team {
  margin-top: 7em;
  padding-right: 13em;
}

.red {
  background-color: red;
}
