/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
}

/* General */

[class*=grid]{
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}
 grid img {
  max-height: 50vh 12vw;

 }

div .grid .nav {
  padding-top: 5em;
}

input, textarea {
  width: 100%;
  min-height: 2rem;
  border-radius: 5px;
  margin: 0.25rem;
  font-size: 1.1rem;
}

input[type=text], input[type=email], input[type=phone], textarea {
  border: 1px solid #989898;
  min-height: 2.5rem;
  padding: 8px 8px;
}

input[type=submit] {
  background-color: #aa0c0c;
  color: white;
  font-size: 1.25rem;
}

/* Navigation*/

nav a {
  text-decoration: none;
  padding: 30px 10px;
  font-size: 1.2rem;
  color: #aa0c0c;
  display: inline-block;
}

nav a:hover {
  background-color: #ececec;
}

.menu-button:hover {
  background-color: #ececec;
}

.menu-button a:hover {
  color: #aa0c0c;
}

header .icon img {
  height: 70px;
  margin: 5px;
}

header .name {
  text-align: left;
  font-size: 1.8rem;
  font-family: 'Aclonica', sans-serif;
  margin: 10px 0;
  color: #aa0c0c;
}

/* Header */

p {
  font-size: 1.25rem;
  line-height: 1.7;
  color: #4d4d4d;
  text-align: center;
}

.benefit-icon {
  font-size: 4rem;
  color: #aa0c0c;
  margin: 0.5rem 0;

}


.col, [class*=col-] {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Aclonica', sans-serif;
  color: #aa0c0c;
  text-align: center;
}

h2, h3, h4 {
  margin: 0.5rem 0 0.3rem 0;
}

li {
  font-size: 1.25rem;
  color: #4d4d4d;
  list-style: none;
}


.right {
  text-align: right;
}

.padded-section {
  padding: 5vw;
}

.alternate-section {
  background-color: #efefef;
}

/* Banner */

.homepage-banner-section {
  background-image: url('images/whole.jpg');
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  padding-top: 30vh;
}

.homepage-banner-section h1, .homepage-banner-section .subtitle {
  color: white;
  text-align: center;
}

/* Benefits */
.benefit-box {
  text-align: center;
  padding: 0 1rem;
}

/*  About us */
.about-section {
  text-align: center;
}

.about-section img {
  padding: 2rem;
  border-radius: 50%;
}

.location-section {

}

/* Delivery */

.delivery-table {

}

.delivery-row {
  padding: 1rem 0;
}

/* Menu */
.menu-button {
  border: 1px solid black;
  background-color: #aa0c0c;
  text-align: center;
  border-radius: 1rem;
}

.menu-button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1.5rem;
  display: inline-block;
}

/* Contact Us */
.menu-section {
  text-align: center;
}

/* Menu */
.menu-section {
  text-align: center;
}

.snipcart-add-item {
  border: 1px solid black;
  background-color: #aa0c0c;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.snipcart-add-item:hover {
  color: white;
}
