---
layout: default
benefits:
  - title: Homecooked
    blurb: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
    icon: check-circle
  - title: 'We Deliver!'
    blurb: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
    icon: car
  - title: Made Fresh
    blurb: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
    icon: check-circle
events:
  - name: Corporate Packages
    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
    image_path: /uploads/wedding.jpg
    alt: Corporate Events
  - name: Wedding Packages
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    image_path: /uploads/wedding.jpg
    alt:  Wedding Packages
  - name: Event Packages
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    image_path: /uploads/wedding.jpg
    alt: Events
---
<section class="homepage-banner-section">
  <h1> Turkish Catering in Canberra </h1>
  <div class="subtitle"> Delicious home cooked, delivered to your door!
</section>
<section class="benefits-section grid padded-section">
    {% for benefit in page.benefits %}
  <div class="col-4_sm-12 benefit-box">
    <i class="fa fa-{{benefit.icon}} benefit-icon" aria-hidden="true"></i>
    <h3> {{benefit.title}} </h3>
    <p> {{benefit.blurb}}
    </p>
  </div>
  {% endfor %}
</section>

<section class="grid about-section alternate-section padded-section" id="About-Us" >
  <div class="col-3_sm-12">
    <img src="images/feride.png" alt="team" />
  </div>
  <div class="col-9_sm-12">
  <h2> Meet your Chef </h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  </div>
</section>
<section class="menu-section padded-section" id="menu">
  <h2> Menu </h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <div class="grid-noGutter-equalHeight padded-section">
      <div class="col_md-4_sm-12"><img src="images/falafel.jpg" alt="Falafel Wrap" /></div>
      <div class="col_md-4_sm-12"><img src="images/zucchini.png" alt="Falafel Wrap" /></div>
      <div class="col_md-4_sm-0"><img src="images/fal.jpg" alt="Falafel Wrap" /></div>
      <div class="col_md-0_sm-0"><img src="images/wrap.jpg" alt="Falafel Wrap" /></div>
  </div>
  <button class="menu-button">
    <a href="/menu.html"> Click here to order </a>
  </button>
</section>


<section class="events-section padded-section alternate-section" id="Events">
  <h2> Events </h2>
  <div class="grid">
    {% for event in page.events %}
  <div class="col-4_sm-12">
  <img src="{{event.image_path}}" alt="{{event.alt}}"/>
  <h3> {{event.name}} </h3>
  <p class="general-padding"> {{event.description}}
  </p>
</div>
{% endfor %}
</div>
<button class="menu-button">
  <a href="/index.html#Contact"> Enquire Below </a>
</button>
</section>

<section class="grid-spaceBetween">
  <div class="col-7 padded-section">
    <h2> Where we Deliver! </h2>
    <p>
      We deliver to all suburbs in and around Canberra. Please place your order 2 days in advance.
    </p>
    <div class="delivery-table">
      <div class="delivery-row grid">
      <h3 class="col-4_sm-12"> Free Delivery </h3>
      <ul class="col-8_sm-12">
       <li> Woden </li>
        <li> Weston </li>
      </ul>
    </div>
    <div class="delivery-row grid">
    <h3 class="col-4_sm-12"> $10 Delivery </h3>
      <ul class="col-4_sm-12">
        <li> Gungahlin </li>
        <li> Tuggeranong </li>
        <li> Belconnen </li>
      </ul>
      <ul class="col-4">
        <li> Queanbeyan </li>
        <li> City </li>
        <li> Fyshwick </li>
      </ul>
    </div>
    </div>
  </div>
  <div class="col-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13027.971350152!2d149.1204445770018!3d-35.28130433462922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b164d69b05c9021%3A0x500ea6ea7695660!2sCanberra+Wilayah+Ibu+Kota+Australia+2601%2C+Australia!5e0!3m2!1sid!2sid!4v1491119279910" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</section>
